<html>
<body>
    <main>
        <h1><%= books.id  %></h1>
        <p>Name: <%= books.Name  %></p>
        <div >
            Description: <%= books.Description %>
        </div>
        
    </main>
</body>
</html>