<html>
<body>
<main>
<div class="data-form">
    <form action="/books/create" method="POST">
        <h2>Create a new book:</h2>
        <label for="inputID">ID</label>
        <input type="text" name="first" id="ID"  placeholder="ID" autofocus required>
        <label for="Name">Book Name</label> 
        <input type="text" name="Name" id="Name"  placeholder="Book Name" required>
        <label for="Authorname">Author Name</label>
        <input type="text" name="Authorname" id="Authorname"  placeholder="Author" required>
        <button type="submit">Sign Up</button>
    </form>
</div>
</main>
</body>
</html>